.about-us {
  padding: 2em 0;
  text-align: center;
}

.about-us h3 {
  color: $brand-color;
  margin-top: 2em;
}

.about-us .description {
  font-size: 0.9em;
  padding: 0 2em;
}

.team {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.people-container {
  background-color: $white;
  padding: 1.2em 1em 0.1em 1em;
  max-width: 22%;
  min-width: 22%;
  margin: 0 1em 1em 0;
  text-align: left;
}

.people-container p {
  font-size: 0.7em;
}

.people-container h4 {
  text-align: center;
  margin-bottom: 0.5em;
  font-weight: 600;
}

.people-img {
  width: 10em;
  height: 10em;
  border-radius: 20em;
  margin: 0 auto 1em auto;
}

.partners-background {
  background-color: $white;
  padding: 2em 1em 0.5em 1em;
}
.partners-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.partners {
  display: flex;
  flex-direction: column;
}
.partners h4 {
  color: $brand-color;
}
.partners-list {
  display: flex;
  flex-direction: row;
}
.partners-content h4 {
  font-weight: 600;
  text-align: center;
  margin-bottom: 0.5em;
}
.partners-content p {
  font-size: 0.7em;
  text-align: center;
}

@media (max-width: $max-width-sm) {
  .about-us {
    padding: 5em 0 0 0;
  }
  .about-us .description {
    padding: 1em 0;
    font-size: 0.8em;
  }
  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }

  .people-container {
    max-width: 90%;
    min-width: 90%;
    margin: 1em auto;
  }
  .partners-background {
    padding: 0 1em 0.5em 1em;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }
  .partners {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .partners-content {
    flex-direction: column;
    align-items: center;
  }
  .partners-list {
    flex-direction: column;
    align-items: center;
  }
  .partners h4 {
    margin-top: 2em;
  }
}