
.home-header {
  text-align: center;
  margin-bottom: 2em;
  height: 16em;
  width: 100%;
  background-color: black;

  .blog-avatar img{
    max-height: 16em;
    width: 100%;
    object-position: bottom;
    object-fit: cover;
    margin: 0 auto;
    opacity: 50%;
  }

  .blog-container-descript {
    padding: 2em 1em;
    position: absolute;
    top: 6em;
    max-width: 30em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .blog-container-descript h1 {
    color: $white;
    text-align: left;
  }

  .blog-container-descript .blog-description {
    color: $white;
  }

  .blog-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3rem;
    font-family: $font-sans-serif;
    text-align: left;
  }
}

@media (max-width: $max-width-sm) {
  .home-header {
    height: 20em;
    margin-bottom: 1em;

    .blog-avatar img {
      object-fit: cover;
      min-height: 20em;
    }

    .blog-container-descript {
      max-width: 100%;
      left: 0;
      top: 4em;
      padding: 1em;
    }
    .blog-description {
      margin-bottom: 0em;
    }
  }
}