
.home-header {
  text-align: center;
  margin-bottom: 1em;
  height: 20em;
  width: 100%;
  background-color: black;
  
  .blog-header {
    width: 100%;
    overflow: hidden;
  }

  .blog-avatar {
    height: 20em;
  }

  .blog-container-descript {
    padding: 2em 1em;
    position: absolute;
    top: 6em;
    max-width: 30em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  .blog-container-descript h1 {
    color: $white;
    text-align: left;
  }

  .blog-container-descript .blog-description {
    color: $white;
  }

  .blog-description {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 3rem;
    font-weight: 600;
    font-family: $font-sans-serif;
    text-align: left;
  }
}

.homePage {
  width: 100%;
  background-color: #f1f1f1;

  /* Header Section */
  .intro {
    display: table;
    width: 70%;
    padding: 0;
  }
  .intro-img {
    height: 25em;
    background-color: #e5e5e5;
    background-size: cover;
    background-position: 50% 30%;
  }
  .call {
    max-width: 23em;
    background-color: $white;
    padding: 2em 1em 2em 2em;
    margin-top: 2em;
    position: absolute;
    display:inline-block;
    right: 2em;
  }
  .call h1 {
    font-size: 42px;
    line-height: 48px;
  }
  .call p {
    font-size: 0.8em;
  }

  /* Features Section */
  .features {
    padding: 0 1em 1em 1em;
    background: #f1f1f1;
  }
  .features h2 {
    border-left: 0.4em $brand-color solid;
    padding-left: 0.5em;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
  }
  .featured-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .feature-study {
    padding: 1.2em;
    margin-left: 1.2m;
    margin-bottom: 1em;
    background-color: $white;
    max-width: 13em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.05);
  }
  .feature-study h3 {
    margin-bottom: 0;
  }
  .feature-study p {
    margin-bottom: 0.5em;
    font-size: 0.8em;
  }

  /* About Section */
  .about {
    padding: 2em 1em 2em 1em;
    background-color: $white;
  }
  .about-content {
    display: flex;
    flex-direction: row;
  }
  .about-text h2 {
    color: $offBlack;
    border-left: 0.4em $yellow solid;
    padding-left: 0.5em;
  }
  .simulator-text h2 {
    color: $offBlack;
    border-left: 0.4em $green solid;
    padding-left: 0.5em;
  }
  .about-text {
    padding: 1em 2em;
  }
  .simulator-text {
    padding: 1em 4em 1em 0;
  }
  .about-img {
    min-width: 50%;
  }
  .about-img img {
    width: 100%;
    border-right: 0;
    object-fit: cover;   
    object-position: 50% 50%;
    height: 24em;
  }
  .about p {
    line-height: 24px;
    margin: 30px 0;
    color: $offBlack;
  }
  .about h4 {
    font-weight: 600;
    margin-bottom: 0.5em;
  }
  .image-label {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin: 0.5em 0;
    color: $offBlack;
  }
  /* BlogPosts Section */
  .home-blog-featured {
    padding: 2em 0;
    background-color: #f1f1f1;
    max-width: 43%;
  }
  .featured-posts {
    width: 75%;
    margin-bottom: 1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.05);
  }
  .featured-posts picture img {
    box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.05);
  }
  .featured-news {
    background-color: $white;
    width: 80%;
    padding: 1.5em 1.5em 2em 1.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.02), 0 6px 6px rgba(0,0,0,0.05);
  }
  .featured-news p {
    font-size: 0.9em;
    margin-bottom: 0.5em;
  }
  .featured-news a {
    font-size: 14px;
  }
  .home-blog-featured h2 {
    border-left: 0.4em $secondary solid;
    padding-left: 0.5em;
  }
  .homeGrid {
    display: flex;
    flex-direction: row;
    background-color: #f1f1f1;
    justify-content: space-between;
    padding: 0 2em;
  }
  .homeGrid > * {
    max-width: 45%;
  }
}

@media (max-width: $max-width-sm) {
  .homePage {
    .intro {
      padding-top: 3em;
      width: 100%;
    }
    .intro h1 {
      font-size: 32px;
      line-height: 40px;
    }
    .intro-img {
      height: 50vh;
      width: 100%;
      background-position: 50% 50%;
    }
    .call {
      max-width: 100%;
      padding: 1.5em;
      position: relative;
      right: 0;
      margin-top: 0;
    }
    .features {
      padding: 2em 0;
      background: #f1f1f1;
    }
    .feature-study {
      padding: 1em;
      margin: 1em 0;
      background-color: $white;
      max-width: 100%;
    }
    .feature-study h3 {
      margin-bottom: 0;
      font-size: 21px;
    }
    .about {
      padding: 2em 0 2em 0;
    }
    .about-text {
      margin: 0;
      padding: 0;
    }
    .simulator-text {
      margin: 0;
      padding: 0;
    }
    .about-img {
      margin-bottom: 1em;
    }
    .about-img img {
      height: 50vh;
    }
    .about-content {
      flex-direction: column;
    }
    .feature-study {
      margin: 0 0 1em 0;
    }
    /* BlogPosts Section */
    .home-blog-featured {
      padding: 2em 0 1em 0;
      background-color: #f1f1f1;
      max-width: 100%;
    }
    .featured-posts {
      width: 100%;
    }
    .featured-news {
      width: 100%;
    }

    .home-blog-featured h2 {
      border-left: 0.4em $secondary solid;
      padding-left: 0.5em;
    }
    .home-blog-featured p {
      max-width: 100%;
    }
    .homeGrid {
      flex-direction: column;
      background-color: #f1f1f1;
      padding: 0 1em;
    }
  }
  .home-header {
    height: 20em;
    margin-bottom: 1em;

    .blog-header {
      object-fit: cover;
      height: 20em;
    }
    .blog-avatar {
      height: 20em;
    }
    .blog-container-descript {
      max-width: 100%;
      left: 0;
      top: 5em;
      padding: 1em;
    }
    .blog-description {
      margin-bottom: 0em;
    }
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
  .homePage .about-content {
    flex-direction: column;
  }
  .homePage .about-text {
    padding: 1em 0;
  }
  .homePage .homeGrid {
    flex-direction: column;
  }
  .homePage .homeGrid > * {
    max-width: 100%;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  .homePage .featured-posts {
    width: 90%;
    margin-bottom: 1.5em;
  }
  .homePage .featured-news {
    width: 90%;
  }
  .homePage .intro {
    width: 80%;
  }
}