.post-quote {
  blockquote {
    display: inline-block;
    font-style: italic;
    font-size: 24px;
    font-family: $font-serif;
    color: $offBlack;
    margin: 0 auto 1em auto;

    @media screen and (min-width: $min-width-sm) {
      width: 100%;
      font-size: 30px;
      padding: 0;
    }

    &:before {
      content: "« "
    }

    &:after {
      content: " »"
    }
  }
}
