* {
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: #FFF7C7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFF7C7; /* Gecko Browsers */
}

.container {
  max-width: 1200px;
  margin: auto;

  @media (max-width: $max-width-sm) {
    width: 100%;
  }
}

body {
  color: #353535;
  line-height: 1.5;
  font-family: $font-sans-serif;
  font-size: 20px;
  background-color: #f1f1f1;
  width: 100%;
}