footer {
  background-color: #ffffff;
  padding: 2em;
}

.footer_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer_about {
  max-width: 20%;
}

@media (max-width: $max-width-sm) {
  .footer_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .footer_about {
    max-width: 100%;
  }
}