header {
  background-color: #ffffff;
  max-width: 100%;
}

.logo {
  height: 4em;
}

.logo img {
  width: 4em;
  justify-self: center;
}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 0.8em;
  font-weight: 600;
}

.links_left {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.links_left > *, .links_right > * {
  color: $offBlack;
}
.links_left > *:hover, .links_right > *:hover {
  color: $secondary;
}

.active {
  color: $secondary;
}

.links_right {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* small nav */
.header_small_button{
  padding: 0.8em 0.8em 0.4em 0.8em;
  margin: 0;
}

.header_small{
  width: 100%;
  display: none;
}

.mobilelogo {
  display: none;
}

@media (max-width: $max-width-sm) {
  header{
    display: none
  }

  .header_links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 1em 0 1em 0;
    height: 100%;
  }


  .header_small{
    display: block;
    background-color: $white;
    position: absolute;
    z-index: 2;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.08),
              0 3px 14px 2px rgba(0, 0, 0, 0.06),
              0 5px 5px -3px rgba(0, 0, 0, 0.05);
    }

  .header_mobile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .links_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .links_right {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .links_left > *,.links_right > * {
    padding: 1em;
    width: 80%;
    border-bottom: 1px solid #ccc;
  }
  .links_right > *:last-child {
    border-bottom: 0;
  }

  .logo {
    display: none;
  }

  .mobilelogo {
    height: 3.2em;
    display: block;
  }
  
  .mobilelogo img {
    width: 3.2em;
    justify-self: center;
  }
}