
.post-header {
  padding: 1em 1em 0 1em;

  .back {
    color: #9A9A9A;
    display: block;
    margin: 0m auto 2em auto;
    font-family: $font-sans-serif;
    font-size: 16px;

    &:before {
      content: '←';
      display: inline-block;
      position: relative;
      margin-right: 8px;
    }

    a {
      color: #9A9A9A;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
@media (max-width: $max-width-sm) {
  .post-header {
    padding: 5em 1em 0 1em;
  }
}
