
.post-header {
  max-width: 70%;
  margin: 4em auto 0 auto;

  h1 {
    color: $brand-color;
  }

  .main-image {
    height: 22em;
    margin: 1em 0 0.5em 0;
  }
  .image-label {
    display: block;
    text-align: center;
    font-style: italic;
    font-size: 0.8em;
    margin: 0.5em 0;
    color: $offBlack;

    small {
      font-style: normal;
    }
  }

  .pdf-view {
    display: flex;
    flex-direction: row;
    padding-bottom: 1em;
  
    a {
      width: 8em;
    }
  }

  .back {
    display: flex;
    flex-direction: row;
    margin: 1em auto 1em auto;
    font-family: $font-sans-serif;
    font-size: 0.7em;
    max-width: 100%;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      margin-left: 0.2em;
      margin-bottom: 0;
    }
  }
}
.post-body {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: 0 auto 4em auto;
  justify-content: center;

  .homepage-slice-wrapper {
    max-width: 100%;
    font-size: 0.9em;
  }

  li {
    list-style: disc;
    margin-left: 1em;
  }
}

@media (max-width: $max-width-sm) {
  .post-header {
    padding: 5em 0em 1em 0em;
    margin: 0;
    max-width: 100%;
    h1 {
      font-size: 24px;
      margin-bottom: 0;
      line-height: 32px;
    }
    .back {
      a, p {
        font-size: 1em;
      }
    }
    .main-image {
      height: 12em;
    }
  }
  .post-body {
    flex-direction: column;
    max-width: 100%;
    margin: 0;
  }
  .pdf-view {
    padding: 1em 0;
  }
}
